{% extends 'blog/base.html' %}

{% block content %}
<style>
    .post {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }

    .date {
        font-size: 14px;
        color: #888;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

{% for post in posts %}
    <div class="post">
        <p class="date">Created: {{ post.created_date|date:'d-m-Y' }}</p>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|truncatechars:200 }}</p>
    </div>
{% endfor %}
{% endblock %}
