{% extends 'blog/base.html' %}

{% block content %}
    <style>
        /* Add your CSS styles here */
        .post {
            margin-bottom: 20px;
        }

        .actions {
            margin-bottom: 10px;
        }

        .date {
            font-style: italic;
            color: #888;
            margin-bottom: 5px;
        }

        .comment {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .comment .date {
            font-size: 12px;
            color: #888;
            margin-bottom: 5px;
        }

        .review {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .review .date {
            font-size: 12px;
            color: #888;
            margin-bottom: 5px;
        }

        .btn-default {
            margin-right: 10px;
        }
    </style>

    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
               {% include './icons/pencil-fill.svg' %}
            </a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span>DELETE</a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    <a class="btn btn-default" href="{% url 'add_review' pk=post.pk %}">Add review</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                {% include './icons/hand-thumbs-down.svg' %}
            </a>
            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                {% include './icons/hand-thumbs-up.svg' %}
            </a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
    <h3>Reviews ({{ review_count }})</h3>
    {% for review in post.reviews.all %}
    {% if user.is_authenticated or review.approved_review %}
    <div class="review">
        <div class="date">
            {{ review.created_date }}
            {% if not review.approved_review %}
            <a class="btn btn-default" href="{% url 'review_remove' pk=review.pk %}">
                {% include './icons/hand-thumbs-down.svg' %}
            </a>
            <a class="btn btn-default" href="{% url 'review_approve' pk=review.pk %}">
                {% include './icons/hand-thumbs-up.svg' %}
            </a>
            {% endif %}
        </div>
        <strong>{{ review.author }}</strong>
        <p>{{ review.text|linebreaks }}</p>
    </div>
    {% endif %}
    {% empty %}
    <p>No reviews here yet :(</p>
    {% endfor %}
{% endblock %}
